@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: 0;
}

:root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: lightgreen;
    --primary-foreground: #000000;
    --muted: #eeeeee;
    --muted-foreground: #000000;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --font-sans: "Space Grotesk Variable", sans-serif;
}

@layer base {
    html,
    body {
        @apply h-screen w-screen bg-background text-foreground font-sans;
    }
}

[data-box] {
    box-shadow: 5px 5px 0px black;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition-delay: 0;

    &:hover {
        box-shadow: none;
    }
}
